/* Side block style */
.logo {
    margin-left: 30px;
    padding-top: 15px;
    overflow: hidden;
    float: left;
}

.logo-wrapper {
    position: fixed;     /* Fixed Sidebar (stay in place on scroll and position relative to viewport) */
    height: 100%;
    width: 180px;     /* Set the width of the sidebar */
    background-color: #61FFD0;
    overflow-x: hidden;     /* Disable horizontal scroll */
    border-right: 2px solid grey;
}

/* Nav bar style */
.nav {
    padding: 25px 0 0 180px;
    display: inline-block;
    text-align: center;
}

.nav ul {
    list-style: none;
}

.nav li {
    float: left;
    margin: 5px;
}

/* Body style */
.body {
    position: fixed;
    text-align: center;
    padding: 0 0 0 130px;
    max-width: 100%;
    max-height: 50%;
}

.join {
    padding: 20px 0 0 30px;
}

.SignupLogin ul {
    list-style: none;
    float: left;
    padding: 10px 0 0 120px;
    max-width: 100%;
    max-height: 50%;
}

.SignupLogin li {
    margin: 20px 0;
}

/* Button styles */
.buttonFirst {
    border-radius: 25px;
    background: white;
    color: #115B49;
    border-right: 1px solid #115B49;
    width: 100px;
}

.buttonSecond {
    border-radius: 25px;
    background: #115B49;
    color: white;
    border-right: 1px solid #115B49;
    width: 250px;
    height: 40px;
}

.buttonThird {
    border-radius: 25px;
    background: white;
    color: #115B49;
    border-right: 1px solid #115B49;
    width: 250px;
    height: 40px;
}